*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg,#2c3e50,#4a6491);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.container{
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-sizing: 0 10px 30px rgba(0,0,0,0.3);
    border-radius: 20px;
    overflow: hidden;
}

header{
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0, 0.2);
}

h1{
    font-size: 1.8rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.subtitle{
    font-size: 0.9rem;
    opacity: 0.8;
}

.display{
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.25);
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calculation{
    font-size: 1.2rem;
    min-height: 28px;
    opacity: 0.8;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;

}

.result{
    font-size: 2.5rem;
    font-weight: 500;
    overflow-x: auto;
    white-space: nowrap;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: rgba(255, 255, 255, 0.1)
}

button{
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

button:active{
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(0.95);
}

.operator{
    background-color: rgba(255, 165, 0, 0.3);
}

.operator:hover{
    background-color: rgba(255,165,0, 0.4);
}

.equals{
    background-color: rgba(46,204,113, 0.3);
    grid-column: span 2;
}

.clear, .delete{
    background-color: rgba(231,76,60, 0.3);

}

.clear:hover, .delete:hover{
    background-color: rgba(231, 76, 60, 0.4);
}

.install-btn{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: rgba(46,204,113, 0.3);
    border-radius: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition:all 0.3s;
}

.install-btn:hover{
    background-color: rgba(46, 204,113, 0.5);
    transform: translateY(-2px);
}

footer{
    margin-top: 30px;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.7;
}

@media (max-width: 480px){
    .container{
        border-radius: 15px;
    }

    button{
        padding: 16px;
        font:1.1rem
    }

    .result{
        font-size: 2rem;
    }
}